.quote {
    margin: 0 auto;
    margin-bottom: 2%;
    color: white;
}
.title {
    margin: 0 auto;
    margin-bottom: 10px;
}
.icons {
    justify-content: center;
    margin-bottom: 1%;
    font-size: 40px;
}
.icons .fab, .fas {
    margin-right: 2%;
}
.icons .subscribe {
    font-size: 20px;
    font-weight: 900;
    margin-top: 0 auto;
}